html {
    font-size: 6px;
}

body {
    margin: 0px;
}

#profile {
    background: radial-gradient(circle, #262525, #141313, #000000);
    margin-left: 15%;
    padding-top: 5%;
    height: 30%;

}

#profile_photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    max-width: 25%;
    height: auto;
    box-shadow: 0px 0px 50px 50px #141313;

}

#profile_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#about {
    color: #948989d4;
    text-align: center;
    font-size: large;
    padding-bottom: 10%;
}

#about_content {
    margin-right: 15%;
    margin-left: 15%;
}

#splitter {
    border-width: 2px !important;
    border-color: #948989d4;
    border-style: solid;
    border-radius: 50%;
    margin-left: 20%;
    margin-right: 20%;
}

#hobies {
    margin-left: 15%;
    height: 100%;
    display: block;
    background-color: #000000;
}

#slider_music {
    top: 10%;
    bottom: 10%;
    left: 80%;
}

